{% extends 'base.html.twig' %}

{% block body_id 'book_show' %}
{% block title %} - {{book.name}} {% endblock %}

{% block main %}
    <div class='col-md-4'>
        Image goes here
    </div>
    <div class='col-md-8'>
        <h1>{{ book.name | title }}</h1>
        <p class="book-metadata">
            {{ book.description }}
        </p>
        <p class="book-metadata">
            <span class="metadata"><i class="fa fa-user"></i> {{ book.author | title }}</span>
        </p>
        <p class="book-metadata">
            <span class="metadata"><i class="fa fa-language"></i> {{ book.language }}</span>
        </p>
        <p class="book-metadata">
            <span class="metadata"><i class="fa fa-upload"></i> {{ book.publisher | title }}</span>
        </p>
        <p class="book-metadata">
            <span class="metadata"><i class="fa fa-coins"></i> {{ book.price }}</span>
        </p>
        <div>
            {% if book.invoices|last is empty %}
                <a data-url="{{ path('add_to_cart', { book: book.id }) }}" class="add-to-cart btn btn-primary" data-id="{{ book.id }}"><i class="fa fa-cart-plus"></i>Add to Cart</a>
            {% else %}
                <a data-url="{{ path('remove_from_cart', { book: book.id }) }}" class="remove-from-cart btn btn-info" data-id="{{ book.id }}"><i class="fa fa-shopping-cart"></i>Remove from Cart</a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cart-mixin') }}
{% endblock %}