{% extends 'base.html.twig' %}

{% block body_id 'book_show' %}
{% block title %} - {{book.name}} {% endblock %}

{% block main %}
    <div class='col-md-4'>
        Image goes here
    </div>
    <div class='col-md-8'>
        <h1>{{ book.name | title }}</h1>
        <p class="book-metadata">
            {{ book.description }}
        </p>
        <p class="book-metadata">
            <span class="metadata"><i class="fa fa-user"></i> {{ book.author | title }}</span>
        </p>
        <p class="book-metadata">
            <span class="metadata"><i class="fa fa-language"></i> {{ book.language }}</span>
        </p>
        <p class="book-metadata">
            <span class="metadata"><i class="fa fa-upload"></i> {{ book.publisher | title }}</span>
        </p>
        <p class="book-metadata">
            <span class="metadata"><i class="fa fa-coins"></i> {{ book.price }}</span>
        </p>
        <button class='btn btn-primary'><i class='fa fa-cart-plus'></i> Add to cart</button>
    </div>

{% endblock %}
