{% extends 'base.html.twig' %}

{% block body_id 'book_index' %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <div class="dropdown pull-right">
                <span> Category: </span>
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ category | default('All') }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="{{ path('index') }}">All</a></li>
                    <li><a href="{{ path('index', { category: 0 }) }}">Children</a></li>
                    <li><a href="{{ path('index', { category: 1 }) }}">Fiction</a></li>
                </ul>
                </div>
            </div>
        </div>

        <div class="row">
            {% for book in paginator.results %}
                <article class="col-md-3 book">
                    <a href="{{ path('detailed_book', {id: book.id}) }}">
                        <h3 class="book-name">
                            {{ book.name | title }}
                        </h3>
                    </a>

                    <p class="book-metadata">
                        <span class="metadata"><i class="fa fa-book-open"></i> {{ book.type }}</span>
                    </p>
                    <p class="book-metadata">
                        <span class="metadata"><i class="fa fa-user"></i> {{ book.author | title }}</span>
                    </p>
                    <p class="book-metadata">
                        <span class="metadata"><i class="fa fa-coins"></i>{{ book.price | format_currency('LKR', {decimal_always_shown: true}) }}</span>
                    </p>
                    <div>
                        <!-- TODO - Invoices are multiple in cardinality, should only check the active invoice for the following condition -->
                        {% if book.invoices|last is empty %}
                            <a data-url="{{ path('add_to_cart', { book: book.id }) }}" class="add-to-cart btn btn-primary" data-id="{{ book.id }}"><i class="fa fa-cart-plus"></i>Add to Cart</a>
                        {% else %}
                            <a data-url="{{ path('remove_from_cart', { book: book.id }) }}" class="remove-from-cart btn btn-info" data-id="{{ book.id }}"><i class="fa fa-shopping-cart"></i>Remove from Cart</a>
                        {% endif %}
                    </div>
                </article>
            {% else %}
                <div class="well">No books found yet! Please add books to the database :)</div>
            {% endfor %}
        </div>
    </div>

    {% if paginator.hasToPaginate %}
        <div class="navigation text-center">
            <ul class="pagination">
                {% if paginator.hasPreviousPage %}
                    <li class="prev"><a href="{{ path('blog_index_paginated', {page: paginator.previousPage}) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i> Previous</a></li>
                {% else %}
                    <li class="prev disabled"><span><i class="fa fw fa-arrow-left"></i> Previous</span></li>
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                    {% if i == paginator.currentPage %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="{{ path('blog_index_paginated', {page: i}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                    <li class="next"><a href="{{ path('blog_index_paginated', {page: paginator.nextPage}) }}" rel="next">Next <i class="fa fw fa-arrow-right"></i></a></li>
                {% else %}
                    <li class="next disabled"><span>Next <i class="fa fw fa-arrow-right"></i></span></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cart-mixin') }}
{% endblock %}